.product-page {
    padding: 20px;
    background-color: #F4F0EC;
}

.product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.product-header h1 {
    font-size: 2rem;
    font-weight: 800;
    color: #8B6F47; /* Coffee brown */
}

.product-image {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.add-product-btn {
    padding: 13px 20px;
    background-color: #5e2c04;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.add-product-btn:hover {
    background-color: #231709;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Display 7 items per row */
    gap: 15px;
    /* Increased gap for better spacing between items */
}

.product-item {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #231709;

}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-info {
    text-align: center;
}

.product-info .name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #231709;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.product-info .sku,
.product-info .price,
.product-info .quantity {

    color: #231709;
    /* color: #014646; */
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.product-actions {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.edit-btn,
.delete-btn {
    padding: 8px 15px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-btn {
    background-color: #5e2c04;
    color: white;
}

.edit-btn:hover {
    background-color: #3c280d;
}

.delete-btn {
    background-color: #3c280d;
    color: white;
}

.delete-btn:hover {
    background-color: #231709;
}

.loading {
    font-size: 1.2rem;
    color: #3c280d;
    text-align: center;
    margin-top: 50px;
}