* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    border: none;
}



/* LOGIN AND REGISTER STYLING */
.logo{
    width: 500px;
    margin: 1rem auto 10px;
    padding: 20px;
}

.logo img{
    width: 500px;
    height: auto;
}

.auth-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    font-size: 20px;
}

.auth-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #8B6F47; /* Coffee brown */
}

.auth-container form {
    display: flex;
    flex-direction: column;
}

.auth-container input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #80471c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px auto;
}

button[type="submit"]:hover {
    background-color: #5e2c04;
}

.auth-container button:hover {
    background-color: #5e2c04;
}

.error-message {
    color: #231709;
    text-align: center;
    margin-bottom: 10px;
}

.auth-container p {
    text-align: center;
    font-weight: 500;
}

.auth-container a {
    color: #80471c;
    text-decoration: none;
    font-weight: 700;
}

.auth-container h2{
    margin: 15px 0 30px 0;
    font-size: 35px;
    font-weight: 800;
}

.auth-container a:hover {
    text-decoration: underline;
}