.purchase-form-page {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.purchase-form-page h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: #8B6F47; /* Coffee brown */
    font-weight: 800;
    text-transform: uppercase;
}

.purchase-form-page .form-group {
    margin-bottom: 30px;
}

.purchase-form-page .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #5e2c04;
    margin: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.purchase-form-page .form-group input,
.purchase-form-page .form-group select,
.purchase-form-page .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.purchase-form-page .form-group textarea {
    resize: vertical;
    height: 100px;
}