.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-button {
    background-color: #4f422f;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination-button:hover {
    background-color: #4f422fc9;
}

.pagination-button.active {
    background-color: #65350f;
    color: white;
    font-weight: bold;
}

.pagination-button:disabled {
    background-color: #d2b48c;
    cursor: not-allowed;
}